* {
  font-family: roboto, "Times New Roman", Times, serif;
  color: #1f2937;
}
p {
  font-weight: lighter;
  font-size: 0.85rem;
}

#hero {
  background-color: #1f2937;
  color: white;
}
#hero h1 {
  color: white;
}
#hero p {
  color: white;
}

nav {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  padding: 0 15%;
  margin-bottom: 5%;
}

nav h3 {
  color: white;
  margin-top: 1%;
}
nav a {
  text-decoration: none;
  padding: 10px;
  color: white;
  font-size: 0.75rem;
}
#hero-container {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  padding: 0 15%;
}
#hero-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 40%;
}
#hero-left h1 {
  font-size: 2.25rem;
  margin-bottom: 0%;
  padding: 0;
}
#hero-left p {
  margin-top: 0%;
}
#hero-left button {
  background-color: #3882f6;
  color: white;
  border-radius: 5px;
  padding: 5px 20px;
  border-width: 0;
  max-width: 30%;
}

#img-container {
  display: flex;
  justify-content: flex-end;
  /* max-width: 60%; */
}

#img-container p {
  display: flex;
  justify-content: center;
  background-color: gray;
  padding: 100px;
  margin-bottom: 25%;
}
#main {
  padding: 0 15%;
  margin-bottom: 5%;
}
#main-container {
  padding: 0% 15%;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.empty-box {
  border: 2px solid #3882f6;
  width: 150px;
  height: 150px;
  border-radius: 10px;
}
#main h2 {
  display: flex;
  justify-content: center;
  padding: 30px;
}

#main-container p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 150px;
  text-align: center;
}

#quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e5e7eb;
  padding: 10% 25%;
  margin-bottom: 10%;
}
#quote p {
  font-size: 2rem;
  margin-bottom: 0%;
}
#quote h4 {
  display: flex;
  justify-content: flex-end;
  padding: 0 10%;
}
#floating-container {
  padding: 0 15% 2%;
}
#floating-container h3 {
  color: white;
}
#floating-container p {
  color: white;
}

#float {
  background-color: #3882f6;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  margin: 10% 0;
}
#float-left {
  display: flex;
  flex-direction: column;
  padding: 5% 0;
}

#float button {
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  background-color: #3882f6;
  padding: 0px 20px;
}

#float-right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5% 0;
}
#footer {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
}

#footer p {
  color: white;
  padding: 20px;
}

@media screen and (max-width: 754px) {
  p {
    font-weight: lighter;
    font-size: 0.5rem;
  }

  h1 {
    color: white;
    font-size: 0.85rem;
  }
  h2 {
    color: white;
    font-size: 0.85rem;
  }
  h3 {
    color: white;
    font-size: 0.85rem;
  }

  nav a {
    text-decoration: none;
    padding: 2px;
    color: white;
    font-size: 0.55rem;
  }

  #hero-container {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
    /* flex-wrap: wrap; */
  }
  #hero-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 50%;
  }
  #hero-left h1 {
    font-size: 1.5em;
  }
  #hero-left button {
    background-color: #3882f6;
    color: white;
    border-radius: 2px;
    display: inline-flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 0;
    border-width: 0;
    font-size: 0.5rem;
  }

  #img-container {
    display: flex;
    justify-content: flex-end;
    max-width: 40%;
  }
  #img-container p {
    display: flex;
    justify-content: center;
    background-color: gray;
    padding: 50px;
    margin-bottom: 25%;
  }

  #main-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
  }
  .empty-box {
    border: 2px solid #3882f6;
    width: 150px;
    height: 150px;
    border-radius: 10px;
  }
  #float button {
    border: 1px solid white;
    border-radius: 2px;
    color: white;
    background-color: #3882f6;
    padding: 0px 5px;
    font-size: 0.5rem;
  }
}
